@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
}


/* TODO: Establecer al maximo posible el background del modal para que abarque toodo el contenido en profundidad de la paguina*/